* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.coin {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 50px auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.coin img {
  width: 145px;
}
.heads,
.tails {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.visible {
  transform: rotateX(180deg);
}

@keyframes spin-tails {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(1980deg);
  }
}

@keyframes spin-heads {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(2160deg);
  }
}

@keyframes awaiting-animation {
  0% {
    transform: rotateX(2160deg);
  }
  50% {
    transform: rotateX(1920deg);
  }
  100% {
    transform: rotateX(720deg);
  }
}

@keyframes resulting-animation {
  0% {
    transform: rotateX(2160deg);
  }
  50% {
    transform: rotateX(1260deg);
  }
  75% {
    transform: rotateX(620deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.awaiting-animation {
  animation: awaiting-animation 5s linear;
}

.resulting-animation {
  animation: resulting-animation 5s linear;
}

.main-heading {
  margin-top: 15px !important;
  text-align: center;
}

.btn-wrapper {
  margin-top: 15px;
}

.container-wrapper {
  display: flex;
  padding: 1.5rem;
}

.container-wrapper form {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.game-animation {
  display: flex;
  flex-basis: 70%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.history-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

.error {
  font-size: 14px;
  color: rgb(233, 32, 32);
  font-weight: 500;
}
